<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Welcome, {{this_user.first_name}}!</h1>
            <a class="text-start" href="/workouts/new">Add Workout</a><a class="text-end" href="/logout"> Logout</a>
        </div>
            {% for this_workout in all_workouts %}
                <p class="text-center" class="space-around"><a href="/view/workout/{{this_workout.id}}">{{this_workout.workout}}</a> by {{this_workout.user.first_name}} {{this_workout.user.last_name}}
                    {% if session["user_id"] == this_workout.user.id %}
                    <a href="/edit/workout/{{this_workout.id}}">Edit</a> <a href="/user/delete/{{this_workout.id}}">Delete</a>
                    {% endif %}
                </p>
            {% endfor %}
</body>
</html>